{
    "sourceFile": "backend/config/.env.example",
    "activeCommit": 0,
    "commits": [
        {
            "activePatchIndex": 0,
            "patches": [
                {
                    "date": 1746519600798,
                    "content": "Index: \n===================================================================\n--- \n+++ \n"
                }
            ],
            "date": 1746519600798,
            "name": "Commit-0",
            "content": "# Server settings\r\nPORT=5000\r\nNODE_ENV=development\r\n\r\n# Database settings\r\nDB_USER=postgres\r\nDB_HOST=localhost\r\nDB_NAME=yolohome1\r\nDB_PASSWORD=tuan\r\nDB_PORT=5432\r\n\r\n# JWT settings\r\nJWT_SECRET=your_jwt_secret_key_should_be_strong_and_unique\r\nJWT_EXPIRE=30d\r\n\r\n# Adafruit IO\r\nADA_USERNAME=\r\nADAFRUIT_IO_KEY="
        }
    ]
}